.container {
  margin: 0 auto;
  padding: 20px;
}

.goBackLink {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  text-decoration: none;
  background-color: #333;
  color: aliceblue;
  font-size: 16px;
  transition: color 0.3s ease;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  font-size: 16px;
}

.goBackLink:hover {
  color: #ffd700;
}

.movieDetails {
  margin-top: 20px;
}

.movieImage {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.movieTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.overview {
  font-size: 16px;
  margin-bottom: 10px;
}

.rating {
  font-size: 18px;
}

.castLink {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  text-decoration: none;
  background-color: #333;
  color: aliceblue;
  font-size: 16px;
  transition: color 0.3s ease;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.reviewsLink {
  background-color: black;
  color: aliceblue;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-right: 15px;
  text-decoration: none;

  font-size: 16px;
  transition: color 0.3s ease;
}

.reviewsLink:hover {
  color: #ffd700;
}

.castLink:hover {
  color: #ffd700;
}
.genres {
  margin-bottom: 15px;
}

.genresTitle {
}
.genresText {
  font-size: 16px;
}
