.searchContainer {
  margin-top: 20px;
}

.searchForm {
  display: flex;
  margin-bottom: 10px;
}

.searchInput {
  margin-left: 10px;
  padding: 8px;
  margin-right: 5px;
  text-decoration: none;
}

.searchButton {
  padding: 8px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.searchButton:hover {
  color: #ffd700;
  text-decoration: none;
}


